:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-xs-l, clamp(0.875rem, 0.3098rem + 2.8261vw, 2.5rem));
  --grid-columns: 12;
  /*
    Utopia Fluid Space Scale
  */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  /*
    Utopia Fluid Type Scale
  */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", serif;
  background-color: hsl(0, 0%, 95%);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heading__main {
  color: hsl(200, 18%, 26%);
  font-size: var(--step-1);
  padding-block-start: 3rem;
  padding-block-end: 1.5rem;
}

.card-title--mobile {
  font-size: var(--step-0);
  text-align: center;
  color: hsl(200, 18%, 26%);
  font-weight: 500;
}
@media (min-width: 48em) {
  .card-title--mobile {
    display: none;
  }
}

.mobile__content h3 {
  font-size: var(--step-0);
  text-align: center;
  color: hsl(200, 18%, 26%);
  font-weight: 500;
}
.mobile__content .vpn__strength-label {
  color: hsl(200, 18%, 26%);
  transform: translateY(-10px);
  font-size: var(--step--1);
}

.mobile-nav__list {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 91%);
}
.mobile-nav__list-item {
  padding-block: 0.5rem;
  padding-inline: 2rem;
}
.mobile-nav__list-item.active {
  background-color: hsl(0, 0%, 100%);
}
.mobile-nav__list-item img {
  width: 3rem;
}
@media (min-width: 48em) {
  .mobile-nav {
    display: none;
  }
}

.card__info {
  display: none;
}
@media (min-width: 48em) {
  .card__info {
    display: block;
  }
}

.card__features {
  margin-block-start: 1.25rem;
}

.card__cta--desktop {
  display: none;
}
@media (min-width: 48em) {
  .card__cta--desktop {
    display: block;
  }
}

.feature__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.feature__list-item:not(.feature__list-item:last-child) {
  margin-block-end: 1.25rem;
}
.feature__list-item .feature__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
}
.feature__list-item .feature__label p {
  color: hsl(208, 63%, 41%);
  font-size: var(--step--1);
  line-height: 1.2;
  max-width: 8ch;
}
.feature__list-item .feature__value {
  font-size: var(--step--1);
  color: hsl(200, 18%, 26%);
}

.feature__label--icon {
  display: inline-block;
  background-color: hsl(208, 63%, 41%);
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__label--icon svg {
  width: 1rem;
  fill: hsl(0, 0%, 100%);
}

.mobile__content {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile__content .mobile__vpn-strengths {
  display: flex;
  gap: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}
.mobile__content .mobile__vpn-strengths div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile__content .mobile__vpn-strengths .vpn__icon--main {
  border: 3px solid hsla(200, 18%, 26%, 0.5);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}
.mobile__content .mobile__vpn-strengths .vpn__icon--main svg {
  width: 1rem;
  height: 1rem;
}
.mobile__content .mobile__vpn-strengths .vpn__icon-container {
  border: 3px solid hsla(200, 18%, 26%, 0.5);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-12px);
  background-color: #fff;
}
.mobile__content .mobile__vpn-strengths .vpn__icon-container svg {
  width: 1rem;
  height: 1rem;
}
@media (min-width: 48em) {
  .mobile__content {
    display: none;
  }
}

.mobile__price-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 1rem;
}
.mobile__price-plan h4 {
  font-size: var(--step-0);
  text-align: center;
  color: hsl(200, 18%, 26%);
  font-weight: 500;
}
.mobile__price-plan .price {
  color: hsl(208, 63%, 41%);
  font-size: var(--step-3);
  margin-block: 0.5rem;
}
.mobile__price-plan .price__per-month {
  font-size: var(--step--1);
  color: hsla(200, 18%, 26%, 0.8);
}
@media (min-width: 48em) {
  .mobile__price-plan {
    display: none;
  }
}

@media (min-width: 48em) {
  .mobile__cta {
    display: none;
  }
}

.btn__link {
  text-decoration: none;
  background-color: hsl(14, 80%, 50%);
  color: hsl(0, 0%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.75rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.btn__link--w-icon span {
  line-height: 0;
}
.btn__link--w-icon svg {
  width: 1rem;
  height: 1rem;
}

.header {
  text-align: center;
}

.main {
  margin-block: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  padding-block: var(--space-s);
  padding-inline: var(--space-m);
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.wrapper {
  padding-inline: 2rem;
}

/*# sourceMappingURL=style.css.map */
