@use '../abstracts' as *;

.btn__link {
  text-decoration: none;
  background-color: $link-btn-clr;
  color: $link-btn-txt-clr; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: .75rem;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0, .1);

  @include respond-to('small') {
    width: max-content;
    margin-block-start: .95rem;
    padding-inline: 1rem;
  }

  &--w-icon {
    span {
      line-height: 0;
    }

     svg {
      width: 1rem;
      height: 1rem;
     }
  }
}