@use '../abstracts' as *;


.card__info {
  display: none;

  @include respond-to('small') {
    display: block;
  }
}

.card__features {
  margin-block-start: 1.25rem;
}

.card__cta--desktop {
  display: none;

  @include respond-to('small') {
    display: block;
  }
}

.feature__list {

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .75rem;

  &:not(&:last-child) {
    margin-block-end: 1.25rem;
  }


    .feature__label {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      flex: 1;

      p {
        color: $primary-clr-2;
        font-size: var(--step--1);
        line-height: 1.2;
        max-width: 8ch;
      }
    }
    
    
    .feature__value {
        // flex: 1;
        font-size: var(--step--1);
        color: $neutral-clr-1;
      }
  }
}


.feature__label--icon {
  display: inline-block;
  background-color: $primary-clr-2;
  padding: .5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    fill: $white;
  }
}


.mobile__content {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mobile__vpn-strengths {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 1rem;
    }

    .vpn__icon--main {
      border: 3px solid $neutral-clr-1--50;
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .vpn__icon-container {
      border: 3px solid $neutral-clr-1--50;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-12px);
      background-color: #fff;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  @include respond-to('small') {
    display: none;
  }
}

.mobile__price-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 1rem;

  h4 {
    font-size: var(--step-0);
    text-align: center;
    color: $neutral-clr-1;
    font-weight: 500;
  }

  .price {
    color: $primary-clr-2;
    font-size: var(--step-3);
    margin-block: .5rem;

    &__per-month {
      font-size: var(--step--1);
      color: $neutral-clr-1--80;
    }
  }

  @include respond-to('small') {
    display: none;
  }

}

.mobile__cta {
  @include respond-to('small') {
    display: none;
  }
}