@use '../abstracts' as *;

.card {
  box-shadow: 0 8px 12px rgba(0,0,0, .1);

  @include respond-to('small') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
  }

  @include respond-to('medium') {
    // grid-template-columns: 1fr 1fr 1fr;
  }
}

.top-1 {
  position: relative;


  &-vpn {
    background-color: $primary-clr-1;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 0 0 100% 0;
    top: 0;
    left: 0;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      transform: translateX(-5px) translateY(-5px);
    }
  }
}

.card.card--hidden {
  display: none;

  @include respond-to('small') {
    display: grid;
  }
}


.card__info {
  display: none;

  @include respond-to('small') {
    display: flex;
    flex-direction: column;
      

    img {
      width: 15rem;
      align-self: center;
      margin-block-end: 1rem;
    }
  }

  .content {
    color: $neutral-clr-1;
    margin-block-end: 1rem;
  }

  .additional__info {
    color: $primary-clr-2;
    text-transform: uppercase;
    line-height: 1;
  }

}

.card__features {
  margin-block-start: 1.25rem;

  @include respond-to('medium') {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}

.card__cta--desktop {
  display: none;

  @include respond-to('small') {
    display: block;
  }

  @include respond-to('medium') {
    text-align: center;
  }
}

.card__link {
  display: none;
  color: $neutral-clr-1;
  @include respond-to('medium') {
    display: inline-block;
    font-size: var(--step--2);
  }
}

.feature__list {

  @include respond-to('medium') {
    flex: 1;
  }

  &-item {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;

  &:not(&:last-child) {
    margin-block-end: 1.25rem;

    @include respond-to('medium') {
      margin-block-end: 1rem;
    }
  }


    .feature__label {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        color: $primary-clr-2;
        font-size: var(--step--1);
        line-height: 1.2;
        max-width: 80ch;
      }
    }
    
    
    .feature__value {
        // flex: 1;
        font-size: var(--step--1);
        color: $neutral-clr-1;
      }
  }
}


.feature__label--icon {
  display: inline-block;
  background-color: $primary-clr-2;
  padding: .5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    fill: $white;
  }
}


.mobile__content {
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mobile__vpn-strengths {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 1rem;
    }

    .vpn__icon--main {
      border: 3px solid $neutral-clr-1--50;
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .vpn__icon-container {
      border: 3px solid $neutral-clr-1--50;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-12px);
      background-color: #fff;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  @include respond-to('small') {
    display: none;
  }
}

.mobile__price-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 1rem;

  h4 {
    font-size: var(--step-0);
    text-align: center;
    color: $neutral-clr-1;
    font-weight: 500;
  }

  .price {
    color: $primary-clr-2;
    font-size: var(--step-3);
    margin-block: .5rem;

    &__per-month {
      font-size: var(--step--1);
      color: $neutral-clr-1--80;
    }
  }

  @include respond-to('small') {
    display: none;
  }

}

.mobile__cta {
  @include respond-to('small') {
    display: none;
  }
}