@use '../abstracts' as *;


.main {
  margin-block: 1.5rem;
 


  section {
    background-color: $white;
    padding-block: var(--space-s);
    padding-inline: var(--space-m);
  }

  
  @include respond-to("small") {

    & section:not(:last-child) {
      margin-block-end: 1.5rem;
    }
  }
}